@use './utils/' as u;

.checkout{
      
    .item_container{


        div {


            display: grid;
            gap:4px;
            grid-template-areas: 'img desc desc del'
                'img price cart__tol del';
            align-items: center;
            // padding: 20px;
            margin-top: 26px;
           
            @include u.breakpoint-down(small) {
                grid-template-areas: 'img desc desc '
                ' price cart__tol del';
            }
    
    
    
            .img {
                grid-area: img;
            }
    
            .desc {
                grid-area: desc;
    
    
            }
    
            h3,
            p {
                color: black;
                font-size: 20px;
    
                margin: 0;
    
                span {
                    color: black;
                }
            }
    
            .del {
                grid-area: del;
                justify-self: end;
            }
    
            .cart__tol {
                grid-area: tol;
            }
    
    
    
            img {
                width: 116px;
                height: 90px;
                border-radius: 5px;
    
            }
    
    
        }
    }
}